@import '../../App.variables.scss';

.cartTitle {
  margin-bottom: 48px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 48px;
}

.cartWrapper {
  padding: 20px 40px;
  border: 1px solid $link-gray;
  border-radius: 4px;
}

.cartItem {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 12px;
  padding-right: 24px;
  transition: .3s;
  &:hover {
    background: $light-gray;
  }
}

.itemLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemImg {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.itemTitle{
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 2px;
  transition: .3s;
  &:hover {
    text-decoration: underline;
  }
}

.itemPrice {
  font-size: 18px;
  line-height: 26px;
}

.total {
  flex: 1 1 auto;
}
.totalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
  color: $font-gray;
}
.totalCount {
  color: $font-gray;
  margin-bottom: 10px;
  span {
    color: $black;
  }
}
.totalDiscount {
  font-size: 20px;
  line-height: 30px;
  color: $font-gray;
  margin-bottom: 30px;
  font-weight: 600;
  span {
    color: $black;
    font-weight: 700;
  }
}
.totalPrice {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: $font-gray;
  span {
    color: $black;
    font-weight: 700;
  }
}

@media(max-width: 992px) {
  .content {
    display: block;
  }
}