$bg-dark: #484283;
$text-white: rgba(255, 255, 255, 0.12);
$link-gray: #c4c4c4;
$star-gray: #D5D5D5;
$light-gray: #F6F6F6;
$font-gray: #B2B5BB;
$font-dark-gray: #646464;
$hover-gray: #87878740;
$red: #F14F4F;
$dark-red: #8C2828;
$light-red: #F8AFAF;
$black: #444B58;
$white: #FFFFFF;
$main-width: 1210px;