@import './App.variables.scss';

@font-face {
  font-family: "Jost";
  src: url("Jost-Regular.woff2") format("woff2"),
       url("Jost-Regular.woff") format("woff"),
       url("Jost-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Medium.woff2") format("woff2"),
       url("Jost-Medium.woff") format("woff"),
       url("Jost-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-SemiBold.woff2") format("woff2"),
       url("Jost-SemiBold.woff") format("woff"),
       url("Jost-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-Bold.woff2") format("woff2"),
       url("Jost-Bold.woff") format("woff"),
       url("Jost-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Jost";
  src: url("Jost-ExtraBold.woff2") format("woff2"),
       url("Jost-ExtraBold.woff") format("woff"),
       url("Jost-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  scroll-behavior: smooth;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
}

/* Общие стили */

body {
  font-family: "Jost", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $black;
}

.container {
  max-width: $main-width;
  margin: 0 auto;
  padding: 0px 15px;
}

.section {
  padding: 48px 0;
}

.dark-section {
  background: $bg-dark;
  color: $white;
}

.section-title {
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
}

.button {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 20px 50px;
  color: $white;
  background: $red;
  border-radius: 4px;
  transition: .3s;
  &:hover {
    background: $dark-red;
  }
  &:disabled {
    background: $light-red;
  }
}

.add-button {
  width: 50px;
  height: 50px;
  padding: 16px;
}
